*{  
    margin: 0;
    background-color: #EEF0F2;
    color:#141414
}
h2 {
    font-size: 4em;
    font-family: 'Bebas Neue', cursive; 
    letter-spacing: 5px;
    text-align: center;
    padding: 50px;
}
h3 {
    margin-left: 100px;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive; 
    letter-spacing: 5px;
    width: max-content;
    background-color: #011638;
    color:#EEC643;
    padding: 20px;    
}

.header {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 200px;
    padding: 50px;
}
.navbar {
    display: inline-block;
    width: 100%;
    background-color: #EEC643;
    height: 50px;
    padding: 50px;
}
.navbar a {
    display:flexbox;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive; ;
    padding: 10px;
    margin: 50px 200px 50px 200px;
    background-color: #EEC643;
    text-decoration: none;
}
.navbar a:hover {
    color: #0D21A1;
}
.intro {
    /* border: 1px solid black; */
    padding: 100px;
    height: 500px;
    background-color: #011638;
    width: 100%;
}
 .p1 {
    display: inline-block;
    background-color: #011638;
    color:#EEC643;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    width: 30%;
}
.p1 em {
    background-color: #011638;
    color:#EEF0F2
}
#imagemStomatopoda {
    position: absolute;
    width: 400px;
    height: 300px;
    margin-left: 550px;
    border-radius: 50%;
}
.table  {
    float: right;
    width: 400px;
    height: 400px;
    padding: 30px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif; ;
    font-size: 30px;
    background-color: #011638;
    
}
table caption {
    color: #364aca;
    font-family:'Bebas Neue', cursive; 
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
    background-color: #011638;
    padding: 10px;

}
table,tr, th ,td {
    color: #364aca;
    font-family:'Bebas Neue', cursive; 
    letter-spacing: 5px;
    font-size: 30px;
    background-color: #011638;
    padding: 10px;
    text-align: left;

}
.supervisao {
    padding: 100px;
    height: 500px;
    background-color:#EEF0F2;
    width: 100%;
}
.p2 {
    display: inline-block;
    background-color:#EEF0F2;
    color:#011638;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    width: 30%;
    padding: 20px;
}